SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_ANON_KEY=eyxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
USER_A_EMAIL=parent-a@example.com
USER_A_PASSWORD=changeme
USER_B_EMAIL=parent-b@example.com
USER_B_PASSWORD=changeme
